# Игнорировать временные файлы сборки
obj/
bin/

# Игнорировать файлы конфигурации
*.user
*.suo
*.cache
*.vspscc

# Игнорировать файлы логов и отладочной информации
*.log
*.logs
*.pdb

# Игнорировать файлы, созданные IDE
.vs/
.vscode/

# Игнорировать файлы среды разработки
_ReSharper*/
*.resharper
*.resharper.user

# Игнорировать файлы настроек проекта
*.csproj.user
*.sln.docstates

# Игнорировать временные файлы
*~
